<div class="login-page">

  <div class="login-page-container">

    <div class="login-page-body">

          <mat-card>
            <div>

              <div align="center">
                <h2>Forgot Password</h2>
              </div>

              <form [formGroup]="emailFormGroup">

                <mat-form-field class="alignment" appearance="outline">


                  <input id="user-email"
                         placeholder="Enter email address"
                         type="email"
                         matInput
                         [errorStateMatcher]="matcher"
                         formControlName="email" #email required>


                  <div *ngIf="checkingEmail" matSuffix style="width: 30px; height: 20px;">
                    <!--<mat-spinner ></mat-spinner>-->
                    <mat-progress-spinner
                      class="mat-progress-spinner"
                      [color]="color"
                      [mode]="mode"
                      [diameter]="20"
                      [value]="value">
                    </mat-progress-spinner>
                  </div>


                  <mat-error *ngIf="emailFormGroup.controls['email'].invalid &&
                    (emailFormGroup.controls['email'].dirty || emailFormGroup.controls['email'].touched)">

                        <span *ngIf="emailFormGroup.controls['email'].errors.required">
                          Email is required
                        </span>

                    <span
                      *ngIf="!emailFormGroup.controls['email'].errors.required && emailFormGroup.controls['email'].errors.pattern">
                          Email is invalid
              </span>


                    <span *ngIf="!emailFormGroup.controls['email'].errors.required && !emailFormGroup.controls['email'].errors.pattern && emailFormGroup.controls['email'].errors.emailDoesNotExist">
                          Email does not exist
                        </span>
                  </mat-error>
                </mat-form-field>

                <div align="center">

                  <div *ngIf="!checkingRequest" align="center">
                    <button class="btn-login" mat-flat-button (click)="sendToken()">Submit</button>
                  </div>

                  <a *ngIf="checkingRequest">
                    <button mat-flat-button color="primary">
                      <div style="padding: 5px">
                        <mat-spinner class="white-mat-spinner" [diameter]="25"></mat-spinner>
                      </div>

                    </button>
                  </a>

                </div>


              </form>

            </div>
          </mat-card>


          <div class='dont-have-account text-align-center div-padding-10'>
            Already have an account ? <b>
            <a routerLink="/login">
              Click
              here</a></b>
          </div>

    </div>
  </div>
</div>
