.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-form-field {
  display: inline;
}

.button-full-width {
  width: 100%;
}

.button-medium-width {
  width: 50%;
}

@media only screen and (min-width: 800px) {
  .center-horizontal-on-page {
    margin: 0 auto;
    width: 500px;
  }

}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.my-login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
  vertical-align: middle;
  min-height: 70vh;
  height: 50%;
}


.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
}


.login-page-container {
  display: table;
  margin: 0 auto;
  vertical-align: middle;
}

.logo-login {
  display: inline-block;
  width: 150px;
}


@media screen and (min-width: 451px) {
  .login-page-body {
    width: 450px;
    margin: 0 auto;
  }
}



@media screen and (max-width: 450px) {
  .login-page-body {
    width: 100%;
    margin: 0 auto;
  }
}

.forgot-password {
  color: dodgerblue;
  float: right;
}

.clear-both {

  clear: both;
}
