<div class="container" style="margin-bottom: 20px">
  <div [formGroup]="createTopicFormGroup">
    <div class="mat-card">
      <div style="padding: 10px">
        <div class="col s12 m12 l12">

          <h3 style="text-align: center">ADD TOPIC</h3>

          <div class="row">

            <div class="col s12 m12 l12">
              <mat-form-field class="alignment" appearance="outline">
                <mat-label>Topic</mat-label>
                <input class="input-placeholder"
                       matInput placeholder="Enter Topic"
                       formControlName="name"
                       type="text"
                       [errorStateMatcher]="matcher">

                <mat-error *ngIf="createTopicFormGroup.controls['name'].invalid &&
            (createTopicFormGroup.controls['name'].dirty || createTopicFormGroup.controls['name'].touched)">

                <span
                  *ngIf="createTopicFormGroup.controls['phoneNumber'].errors.required">
               Name required
            </span>

                </mat-error>

              </mat-form-field>
            </div>


            <div class="center">
              <div>
                <div *ngIf="createTopicFormGroup.status !== 'PENDING'"
                     class="padding-mobile">
                  <button class="btn-sign" (click)="addTopic()" mat-flat-button>
                    Submit
                  </button>
                </div>

                <div *ngIf="createTopicFormGroup.status === 'PENDING'">
                  <button class="btn-sign-spinner" mat-flat-button>
                    <span style="padding: 5px">
                      <mat-spinner class="white-mat-spinner" color="white" [diameter]="25"></mat-spinner>
                    </span>
                  </button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mat-card" style="margin-top: 20px; margin-bottom: 20px">
    <div style="padding: 10px">
      <div class="col s12 m12 l12">

        <h3 style="text-align: center">ALL TOPICS</h3>

        <div class="row">

          <div class="col s12 m12 l12">
            <mat-form-field class="alignment" appearance="outline">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let fruit of allFruits"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(fruit.name, fruit.id)">
                  {{fruit.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Topic..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)" readonly>
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>


            </mat-form-field>
          </div>

        </div>

        <!--<div class="row">-->
        <!--<div class="col s12 m6 l6">-->
        <!--<mat-form-field class="alignment" appearance="outline">-->
        <!--<mat-label>Lastname</mat-label>-->
        <!--<input class="input-placeholder"-->
        <!--matInput placeholder="Enter Lastname"-->
        <!--formControlName="lastName"-->
        <!--type="text"-->
        <!--[errorStateMatcher]="matcher">-->

        <!--&lt;!&ndash;<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>&ndash;&gt;-->
        <!--</mat-form-field>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
