.mat-form-field {
  display: inline;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0 !important;
}
