.registration-successful-top-div {
  padding: 10px;
  background-color: #ffffff;
}

.registration-successful-bottom-div {
  padding: 10px;
  background-color: #47b329;
}
.div-padding {
  padding: 20px;
}
