.paypal-button.paypal-button-color-gold {
  background-color: white !important;
}


.tip {
  vertical-align: middle;
}
.tip p {
  display:inline;
  margin-left:10px;
  padding-bottom: 2px;
}
.tip img {
}


@media screen and (max-width: 400px) {
  #paypal-button-container {
    background-color: white !important;
  }
}

@media screen and (min-width: 400px) {
  #paypal-button-container {
    background-color: white !important;
  }
}


.btn-cash {
  width: 100% !important;
  color: #fff;
  font-size: 15px;
  background-color: #47b329;
  border-color: #4dcc2b;
}

.btn-cash:active, .btn-cash:hover {
  font-size: 15px;
  color: #fff;
  background-color: #36971e;
  border-color: #36971e;
}


.button-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
