<div class="isPrinting">
  <div>
    <div class="container">
      <div style="padding-top: 40px; padding-bottom: 40px">
        <mat-card>

          <div id="print-section">


            <h2 style="text-align: center">INVOICE</h2>
            <div style="text-align: right"><span><b>Order ID:</b></span> {{orderInfo?.code}}</div>
            <mat-divider></mat-divider>

            <div style="text-align: center"><h3>Patient Details</h3></div>
            <div class="row">
              <div class="col m6 s12 l4">
                <span><b>Firstname:</b></span> {{portalUerModel?.firstName}}
              </div>
              <div class="col m6 s12 l4">
                <span><b>Lastname:</b></span> {{portalUerModel?.lastName}}
              </div>

              <div class="col m6 s12 l4">
                <span><b>Phone Number:</b></span> {{portalUerModel?.phoneNumber}}
              </div>
            </div>
            <div class="row">
              <div class="col m6 s12 l4">
                <span><b>User ID:</b></span> {{portalUerModel?.code}}
              </div>
            </div>


            <div style="text-align: center"><h3>Order Details</h3></div>
            <div class="row">
              <div class="col m6 s12 l4">
                <span><b>Date Created:</b></span> {{ orderInfo?.dateCreated | date:"medium" }}
              </div>
              <div class="col m6 s12 l4">
                <span><b>Date Updated:</b></span> {{ orderInfo?.dateUpdated | date:"medium" }}
              </div>

              <div class="col m6 s12 l4">
                <span><b>Cash Collected:</b></span>
                <span *ngIf="orderInfo?.cashCollected === true">Yes</span>
                <span *ngIf="orderInfo?.cashCollected === false">No</span>
              </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="col m6 s12 l4">-->
            <!--<span><b>Order ID:</b></span> {{portalUerModel.code}}-->
            <!--</div>-->
            <!--</div>-->

            <div style="text-align: center"><h3 style="margin-bottom: 0px">Tests Ordered</h3></div>

            <div style="padding-top: 10px"></div>
            <table>
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of items">
                <td data-label="Name">{{item.name}}</td>
                <td data-label="Quantity">
                  <div class="quantity buttons_added">
                    <span>{{item.quantity}}</span>
                  </div>
                </td>
                <td data-label="Price">

                  <div>
            <span *ngIf="orderInfo?.currencyType === 'NGN'">
              <span><span>&#x20A6;</span>{{item.price | number:'1.2-2'}}</span>
            </span>

                    <span *ngIf="orderInfo?.currencyType === 'USD'">
              <span><span>&#36;</span>{{item.price | number:'1.2-2'}}</span>
            </span>

                    <span *ngIf="orderInfo?.currencyType === 'EUR'">
              <span><span>&#163;</span>{{item.price | number:'1.2-2'}}</span>
            </span>
                  </div>


                </td>
                <td data-label="Total">
                  <div>
            <span *ngIf="orderInfo?.currencyType === 'NGN'">
              <span><span>&#x20A6;</span>{{item.total | number:'1.2-2'}}</span>
            </span>

                    <span *ngIf="orderInfo?.currencyType === 'USD'">
              <span><span>&#36;</span>{{item.total | number:'1.2-2'}}</span>
            </span>

                    <span *ngIf="orderInfo?.currencyType === 'EUR'">
              <span><span>&#163;</span>{{item.total | number:'1.2-2'}}</span>
            </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>


            <div style="padding: 10px; text-align: right">
              <span style="display: inline-block; font-size: 25px">Grand Total:</span>
              <div style="display: inline-block; font-size: 25px">
            <span *ngIf="orderInfo?.currencyType === 'NGN'">
              <span><span>&#x20A6;</span>{{orderInfo?.price | number:'1.2-2'}}</span>
            </span>

                <span *ngIf="orderInfo?.currencyType === 'USD'">
              <span><span>&#36;</span>{{orderInfo?.price | number:'1.2-2'}}</span>
            </span>

                <span *ngIf="orderInfo?.currencyType === 'EUR'">
              <span><span>&#163;</span>{{orderInfo?.price | number:'1.2-2'}}</span>
            </span>
              </div>
            </div>

          </div>

          <div style="text-align: center">
            <div style="padding: 20px">
              <button mat-flat-button class="download-btn" (click)="downloadReceipt()">Download Receipt</button>
            </div>

            <div style="padding: 20px">
              <button *ngIf="!printingStatus" mat-flat-button class="download-btn" (click)="printInvoice()">Print
                Invoice
              </button>
              <button *ngIf="printingStatus" mat-flat-button class="download-btn">
                <mat-spinner class="white-mat-spinner" diameter="30" style="margin: 5px"></mat-spinner>
              </button>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
<router-outlet name="print"></router-outlet>

