<div class='custom-body'>

  <div class=" container">


    <div class='login-page'>
      <div class='align-middle div-padding'>

        <div class='text-align-center logo-zoom'>
        </div>

        <div class="login-page-resize">
          <mat-card>
            <div align="center">
              <h2>PATIENT REGISTRATION</h2>
            </div>

            <app-patient-registration></app-patient-registration>

          </mat-card>

          <div class='dont-have-account text-align-center div-padding-10'>
            Already have an account ? <b>
            <a routerLink="/login">
              Click
              here</a></b>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
