<div style="padding-top: 40px; margin-bottom: 50px">
  <div class="container">
    <mat-card>

      <div class="col s12 m12 l12" [formGroup]="changePasswordFormGroup">

        <div class="custom-header-div">
          <div align="center">
            <h3><span class="headline" style="text-transform: uppercase;">Change Password</span></h3>
          </div>
        </div>

        <div class="row">
          <div class="col m12 s12 l12 password-input-field">
            <mat-form-field class="alignment" appearance="outline">
              <mat-label>Old password</mat-label>
              <input matInput
                     placeholder="Enter old password"
                     autocomplete="off"
                     type="{{ showOldPassword ? 'text' : 'password' }}"
                     formControlName="oldPassword">

              <div *ngIf="checkingOldPassword" matSuffix style="width: 30px; height: 20px;">
                <mat-spinner [diameter]="25"></mat-spinner>
              </div>
              <mat-icon matSuffix
                        style="cursor: pointer"
                        *ngIf="changePasswordFormGroup.controls['oldPassword'].value?.length > 0"
                        (click)="toggleShowOldPassword()">{{ showPassword ? 'visibility' :
                'visibility_off' }}
              </mat-icon>

              <mat-error *ngIf="changePasswordFormGroup.controls['oldPassword'].invalid &&
            (changePasswordFormGroup.controls['oldPassword'].dirty || changePasswordFormGroup.controls['oldPassword'].touched)">

              <span *ngIf="changePasswordFormGroup.controls['oldPassword'].errors.required">
                Old password is required
              </span>

                <span
                  *ngIf="!changePasswordFormGroup.controls['oldPassword'].errors.required && isOldPasswordValid === 0 ">
                 Old password does not match
              </span>

              </mat-error>

            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col m12 s12 l12 password-input-field">
            <mat-form-field class="alignment" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput
                     placeholder="Enter password"
                     autocomplete="off"
                     type="{{ showPassword ? 'text' : 'password' }}"
                     formControlName="password">

              <mat-icon matSuffix
                        style="cursor: pointer"
                        *ngIf="changePasswordFormGroup.controls['password'].value?.length > 0"
                        (click)="toggleShowPassword()">{{ showPassword ? 'visibility' :
                'visibility_off' }}
              </mat-icon>

              <mat-error *ngIf="changePasswordFormGroup.controls['password'].invalid &&
            (changePasswordFormGroup.controls['password'].dirty || changePasswordFormGroup.controls['password'].touched)">

              <span *ngIf="changePasswordFormGroup.controls['password'].errors.required">
                Password is required
              </span>


                <span *ngIf="changePasswordFormGroup.controls['password'].hasError('minlength')">
                  Old password too short
                </span>

              </mat-error>

            </mat-form-field>

            <ng9-password-strength-bar
              [passwordToCheck]="changePasswordFormGroup.get('password').value"
              [barLabel]="barLabel"
              [strengthLabels]="strengthLabels"
              [barColors]="myColors">
            </ng9-password-strength-bar>
          </div>
        </div>

        <div class="row">
          <div class="col m12 s12 l12">
            <mat-form-field class="alignment" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput
                     placeholder="Enter confirm password"
                     type="{{ showConfirmPassword ? 'text' : 'password' }}"
                     formControlName="confirmPassword">

              <mat-icon matSuffix style="cursor: pointer"
                        *ngIf="changePasswordFormGroup.controls['confirmPassword'].value?.length > 0"
                        (click)="toggleShowConfirmPassword()">
                {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
              </mat-icon>

              <mat-error *ngIf="changePasswordFormGroup.controls['confirmPassword'].invalid &&
            (changePasswordFormGroup.controls['confirmPassword'].dirty || changePasswordFormGroup.controls['password'].touched)">

              <span *ngIf="changePasswordFormGroup.controls['confirmPassword'].errors.required">
                Confirm password is required
              </span>

                <span
                  *ngIf="!changePasswordFormGroup.controls['confirmPassword'].errors.required && changePasswordFormGroup.controls['confirmPassword'].errors.passwordMatchInvalid">
                Confirm password does not match
              </span>

              </mat-error>

            </mat-form-field>
          </div>
        </div>

      </div>
      <div align="center" style="padding: 20px">
        <div *ngIf="!checkingRequest">
          <button mat-flat-button class="btn-sign" (click)="updateUser()">Update</button>
        </div>

        <div *ngIf="checkingRequest" style="padding: 5px">
          <button mat-flat-button color="primary">
            <div style="padding: 5px">
              <mat-spinner class="white-mat-spinner" color="white" [diameter]="25"></mat-spinner>
            </div>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
